.hero-wrapper {
  width: 100%;
  background-color: #d1c4e9; /* Example background color */
  display: flex;
  justify-content: center;
}

.hero-section {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.hero-text {
  flex: 1;
  padding: 20px;
  line-height: 1.7;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transform: rotate(6deg);
    width: 500px;
    border-radius: 10px;
    border: 5px solid #fff;
}

@media (max-width: 1300px) {
  .hero-image img {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .hero-wrapper {
  }
  .hero-text, .hero-image {
    padding: 5px;
  }
  .hero-image img {
    width: 300px;
  }
}

@media (max-width: 814px) {
  .hero-section {
    flex-direction: column;
    padding: 10px 20px;
  }
  .hero-text {
    padding: 10px;
  }
  .hero-image img {
    display: none;
  }
}

