header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #F1F1F1;
	border-bottom: 1px solid #e9ecef;
	width: 100%;
}
.logo {
	padding: 40px;
	flex: 1;
}

.logo img {
	width: 400px;
	height: auto;
}

@media (max-width: 768px) {
	.logo img {
		width: auto;
	}
}
