#about {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;
}

.team-title {
	text-align: center;
}

.team-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2em 0;
}

.team-member {
	padding: 20px;
}

.team-member .content {
	flex: 1;
	max-width: 1600px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
}

.team-text {
	flex: 2;
	padding: 20px;
	line-height: 1.7;
}

.team-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-member-content {
	padding: 0 20px;
}

/* The .reverse class swaps the order of the flex items */
.content {
	flex-direction: row-reverse;
}

/* Flex children: text and image take up half the width */
.team-member .text,
.team-member .image {
	flex: 1;
	padding: 1em;
	box-sizing: border-box;
}

.team-member-title {
	display: flex;
	flex-direction: column;
	padding-left: 10px;;
}

.team-member-title h2 {
	flex: 1;
	margin-bottom: 0;
	text-align: left;
}

.team-member-title h4 {
	flex: 1;
	margin-top: 5px;
	font-size: small;
	font-weight: normal;
}

@media (min-width: 1025px) {
	.team-wrapper {
		padding: 15px;
	}
	.team-text,
	.team-image {
		padding: 5px;
	}

	.team-image img {
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	}

}

@media (min-width: 768px) {
	.team-image{
		padding: 1.5em;
	}
	.team-image img {
		height: 500px;
	}


}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
	.team-wrapper {
		flex-direction: column;
	}

	.team-content {
		padding: 10px;
	}

	.team-member .content {
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

	.team-text,
	.team-image {
		flex:1;
		padding: 0;
	}

	.team-image img {
		width: 100%;
	}
	.team-title {
		margin: 0;;
	}
}
