#about {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;
}

.team-title {
	text-align: center;
}

.team-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2em 0;
}

.team-member {
	max-width: 1600px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}

.team-text {
	flex: 2;
	padding: 20px;
	line-height: 1.7;
}

.team-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}



/* Flex container for each team member */
.team-member {
	flex: 1;
	display: flex;
	align-items: center;
	margin: 2em 0;
}

/* The .reverse class swaps the order of the flex items */
.team-member.reverse {
	flex-direction: row-reverse;
}



/* Flex children: text and image take up half the width */
.team-member .text,
.team-member .image {
	flex: 1;
	padding: 1em;
	box-sizing: border-box;
}

.team-member-title h2 {
	margin-bottom: 0;
	text-align: left;
}

.team-member-title h4 {
	margin-top: 5px;
	font-size: small;
	font-weight: normal;
}

@media (min-width: 768px) {
	.team-image img {
		height: 500px;
		transform: rotate(-10deg);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	}

	.team-member.reverse .team-image img {
		transform: rotate(10deg);
	}
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
	.team-member {
		flex-direction: column;
	}
	.team-member.reverse {
		flex-direction: column;
	}
	.team-member .text,
	.team-member .image {
		padding: 10px;
	}

	.team-image img {
		width: 100%;
	}
}
